/*
font-family: 'Open Sans', sans-serif;
*/
/* 
    Created on : Sep 23, 2017, 1:47:12 PM
    Author     : dragana
*/
/* form */
body {
    background-color: #eee;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}


